<section id="profiel">
  <div class="container jumbotron ruimte margin">
    <h1>{{ "passwordrequest.titel" | translate }}</h1>
    <hr />
    <!-- <p *ngIf="error" class="error">{{ "passwordrequest.error" | translate }}</p> -->
    <form class="simple-form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="form-label-group ruimte">
        <label
          ><h5>{{ "passwordrequest.email" | translate }}</h5></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email"
          [ngClass]="{
            'is-invalid':
              emailForm.get('email').touched && !emailForm.get('email').valid
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            !emailForm.get('email').valid && emailForm.get('email').touched
          "
        >
          <div *ngIf="emailForm.get('email').errors['required']">
            {{ "email.emailreq" | translate }}
          </div>
          <div *ngIf="emailForm.get('email').errors['email']">
            {{ "email.emailForm" | translate }}
          </div>
        </div>
      </div>
      <br />
      <div class="ruimtebtn">
        <button
          class="btn-verzenden btn btn-primary"
          type="submit"
          [disabled]="!emailForm.valid || isLoading"
        >
          {{ "passwordrequest.verzenden" | translate }}
        </button>
        <img
          *ngIf="isLoading"
          class="pl-2"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
      <div
        *ngIf="error"
        class="alert alert-danger error-container"
        role="alert"
      >
        <p class="remove-margin">
          {{ "passwordrequest.error" | translate }}
        </p>
      </div>
      <div
        *ngIf="serverError"
        class="alert alert-danger error-container"
        role="alert"
      >
        <p class="remove-margin">
          {{ "general.servererror" | translate }}
        </p>
      </div>
    </form>
  </div>
</section>
