<section id="profiel">
  <div class="container jumbotron ruimte">
    <h1>{{ "resetww.titel" | translate }}</h1>
    <hr />
    <form
      class="simple-form"
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Wachtwoord -->
      <div class="form-label-group ruimte">
        <label
          ><h5>{{ "resetww.nieuwww" | translate }}</h5></label
        >
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="{{ 'register.wachtwoord' | translate }}"
          required
          [ngClass]="{
            'is-invalid':
              passwordForm.get('password').touched &&
              !passwordForm.get('password').valid
          }"
        />
        <div
          *ngIf="
            passwordForm.get('password').touched &&
            !passwordForm.get('password').valid
          "
          class="invalid-feedback"
        >
          <div *ngIf="passwordForm.controls['password'].errors.required">
            {{ "register.wachtwoordreq" | translate }}
          </div>
          <div *ngIf="passwordForm.controls['password'].errors.minlength">
            {{ "register.wachtwoordpatern" | translate }}
          </div>
        </div>
      </div>

      <!-- Confirm Wachtwoord -->
      <div class="form-label-group ruimte" style="margin-top: 20px">
        <label
          ><h5>{{ "resetww.bevestigww" | translate }}</h5></label
        >
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          placeholder="{{ 'register.herhaalww' | translate }}"
          required
          [ngClass]="{
            'is-invalid':
              passwordForm.get('confirmPassword').touched &&
              !passwordForm.get('confirmPassword').valid
          }"
        />
        <div
          *ngIf="
            passwordForm.get('confirmPassword').touched &&
            !passwordForm.get('confirmPassword').valid
          "
          class="invalid-feedback"
        >
          <div *ngIf="passwordForm.controls['confirmPassword'].errors.required">
            {{ "register.herhaalwwreq" | translate }}
          </div>
          <div
            *ngIf="passwordForm.controls['confirmPassword'].errors.minlength"
          >
            {{ "register.wachtwoordpatern" | translate }}
          </div>
          <div
            *ngIf="passwordForm.controls['confirmPassword'].errors.mustMatch"
          >
            {{ "register.herhaalwwpatern" | translate }}
          </div>
        </div>
      </div>

      <br />
      <div class="ruimtebtn">
        <button
          class="btn-verzenden btn btn-primary"
          type="submit"
          [disabled]="this.passwordForm.invalid"
        >
          {{ "resetww.verzenden" | translate }}
        </button>
        <img
          *ngIf="isLoading"
          class="pl-2"
          style="margin-left: 10px"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
      <div
        *ngIf="serverError"
        class="alert alert-danger error-container"
        role="alert"
      >
        <p class="remove-margin">
          {{ "general.servererror" | translate }}
        </p>
      </div>
    </form>
  </div>
</section>
