<div class="container">
           <div>
                <img src="https://i.imgur.com/BJUtiYb.png">
            </div>
            <div style="margin-top: 24px; margin-bottom: 32px;"></div>
            <div>
                <h1>What Is Tokenomics and Why Does It Matter?</h1>
           </div>
            <article>
                <p style = "font-weight: bold;">TL;DR</p>
                <p>Tokenomics is a term that captures a token’s economics.
                    It describes the factors that impact a token’s use and value,
                    including but not limited to the token’s creation and distribution,
                    supply and demand, incentive mechanisms, and token burn schedules.
                    For crypto projects, well-designed tokenomics is critical to success.
                    Assessing a project’s tokenomics before deciding to participate is essential for investors and stakeholders.
                </p>
                <h2>Introduction</h2>
                <p>A portmanteau of “token” and “economics,” tokenomics is a key component of doing fundamental research on a crypto project.
                    Aside from looking at the white paper, founding team, roadmap, and community growth, tokenomics is central to evaluating the future prospects of a blockchain project.
                    Crypto projects should carefully design their tokenomics to ensure sustainable long-term development.
                </p>
                <img src="https://i.imgur.com/BJUtiYb.png">
                <h2>Tokenomics at a glance</h2>
                <p>Blockchain projects design tokenomics rules around their tokens to encourage or discourage various user actions.
                    This is similar to how a central bank prints money and implements monetary policies to encourage or discourage spending, lending, saving, and the movement of money,
                    Note that the word “token” here refers to both coins and tokens. You can learn the difference between the two here. Unlike fiat currencies,
                    the rules of tokenomics are implemented through code and are transparent, predictable, and difficult to change.</p>
                <p> Let’s look at bitcoin as an example. The total supply of bitcoin is pre-programmed to be 21 million coins.
                    The way bitcoins are created and entered into circulation is by mining.
                    Miners are given some bitcoins as a reward when a block is mined every 10 minutes or so.
                </p>
                <p>
                    The reward, also called block subsidy, is halved every 210,000 blocks.
                    By this schedule, a halving takes place every four years.
                    Since January 3, 2009, when the first block, or the genesis block, was created on the Bitcoin network,
                    the block subsidy has been halved three times from 50 BTC to 25 BTC, 12.5 BTC, and 6.25 BTC currently.
                </p>
                <p>
                    Based on these rules, it’s easy to calculate that around 328,500 bitcoins will be mined in 2022 by dividing the total number of 
                    minutes of the year by 10 (because a block is mined every 10 minutes) and then multiplying by 6.25 (because each block gives out 6.25 BTC as rewards).
                    Therefore, the number of bitcoins mined each year can be predicted, and the last bitcoin is expected to be mined around the year 2140.
            </p>
              <p>
                    Bitcoin’s tokenomics also include the design of transaction fees, which miners receive when a new block is validated. 
                    This fee is designed to increase as transaction size and network congestion rise. It helps prevent spam transactions and incentivizes miners to
                    keep validating transactions even as block subsidies keep diminishing.
                </p>
                <p>
                    In short, the tokenomics of Bitcoin is simple and ingenious. Everything is transparent and predictable.
                    The incentives surrounding Bitcoin keep participants compensated to keep the network robust and contribute to its value as a cryptocurrency.
                </p>
            </article>
            <style>
                .container {
                margin: auto;
                padding: 24px 16px;
                max-width: 752px;
            }
            img {
                object-fit: contain;
                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
                max-width: 100%;
                border-radius: 16px;
            }
            h1 {
                font-size: 48px;
                line-height: 56px;
            }
            h2 {
                padding-top: 36px;
                padding-bottom: 4px;
            }
            p {
                padding-top: 12px;
                padding-bottom: 12px;
            }
            @media only screen and (max-width: 768px) {
                h1 {
                    font-size: 32px;
                }
              }
            </style>
        </div>