<!-- <mat-card class="example-card">
    <img mat-card-image src={{imgSource}}>
    <mat-card-header>
        <mat-card-title><span style="font-weight: bold;">{{title}}</span></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Eventjes deze content testen van deze kaart.
        Let's fucking gooooooo.
    </mat-card-content>
</mat-card> -->
<div class="globalContainer">
    <div class="image" style="background-image: url('{{imgSource}}')">
    </div>
    <div class="rowContainer">
        <h3>{{title}}</h3>
        <p>{{description}}
        </p>
    </div>
</div>