<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-8 mx-auto">
      <h1 class="my-4">{{ "policy.titel" | translate }}</h1>
      <hr />
      <p class="intro">{{ "policy.inleiding" | translate }}</p>
      <p>{{ "policy.inleidingsub" | translate }}</p>
      <p>{{ "policy.inleidingsub2" | translate }}</p>

      <h3>{{ "policy.titel2" | translate }}</h3>
      <p class="intro">{{ "policy.diensten" | translate }}</p>
      <p>{{ "policy.dienstensub" | translate }}</p>

      <p class="intro">{{ "policy.cookies" | translate }}</p>
      <p>{{ "policy.cookiessub" | translate }}</p>

      <p class="intro">{{ "policy.derden" | translate }}</p>
      <p>{{ "policy.derdensub" | translate }}</p>

      <p class="intro">{{ "policy.aanpassen" | translate }}</p>
      <p>{{ "policy.aanpassensub" | translate }}</p>

      <p class="intro">{{ "policy.cookiesuit" | translate }}</p>
      <p>{{ "policy.cookiesuitsub" | translate }}</p>

      <h3>{{ "policy.rechten" | translate }}</h3>
      <p>
        {{ "policy.rechtensub" | translate
        }}<span
          ><a
            href="https://www.vives.be/nl/activiteiten/aanvraagformulier-uitoefening-rechten-verband-met-persoonsgegevens"
            target="_blank"
            class="link"
            >{{ "policy.rechtensub2" | translate }}</a
          ></span
        >{{ "policy.rechtensub3" | translate }}
      </p>

      <h3>{{ "policy.vragen" | translate }}</h3>
      <p>
        <a href="mailto:contact@youngpotentials.org" class="link" target="_blank">{{
          "policy.vragensub" | translate
        }}</a>
      </p>
    </div>
  </div>
</div>
